<a href="https://colab.research.google.com/github/Peter-Apps/coding-camp/blob/main/Wrapping_Paper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name = "Student One" #@param {type: 'string'}

# Introduction to making columns of data and manipulating them in python.

Today you are going to learn how a little coding can make doing math easier, especially when you have a lot of math to do.

Click on the arrow to the left of this cell to show the code we are going to be working on.

First import your libraries. Everything in green is a comment. In other words it isn't part of the code. It just descibes what the code does for us humans. To run a block of code click on the play button to the left of the block. If you don't run the code with your libraries nothing will work.

In [ ]:
#This code gets us the libraries we are going to use to do stuff
import pandas as pd
import numpy as np

Next, we need to import our data.

In [ ]:
#This code creates a variable called 'df' that we can play with. (df is short for data frame, but you can call it whatever you want.)
#In this particular case df is a set of 10 pairs of random integers ranging from 1 to 10.
df= pd.DataFrame(np.random.randint(1, 11, (10,2)))

#prints the variable called 'df'
df

Now lets give our columns of random numbers some more interesting names.
Change the column names (in red) to something you like, but that makes sense.

In [ ]:
#create column names
df.columns = ['thing 1', 'thing 2']

#show data
df

Before we can start manipluating our data we need to know how python does math. It's pretty straight forward which is nice. Run the code below to see how math operations work in python.

In [ ]:
3*2

In [ ]:
6/3

In [ ]:
2+3

In [ ]:
3-2

In [ ]:
6**2

In [ ]:
#@markdown Why does 6 divided by 3 give a decimal while the other expressions give integers?

Response_1 = "" #@param {type: 'string'}

In [ ]:
#@markdown What operation do you think is happening in that last cell?

Response_2 = "" #@param {type: 'string'}

So let's say I want to add the data in column 1 to the data in column 2. I would use the headers of the columns as their names and add the names together. Check out the code below.

In [ ]:
df['thing 1'] + df['thing 2']

So the computer is showing me a list of all the added up values, but I want to see this as a new column along with the rest of my data. I need to create a new column name which I'll do in the code below.

In [ ]:
df['addition'] = df['thing 1'] + df['thing 2']

#now show me the data
df

Now we can see that the numbers in the first two columns add up to the value in the third column.

It's your turn. Write some code to perform at least 2 more opperations on the data and show it in two new columns that you name.

In [ ]:
#...and GO

Look at you coding in python!

Time to apply what you have learned about coding to geometry.

# How Much Wrapping Paper do we Need?

##### The elves are running low on wrapping paper, so they need to submit an order for more. They have a list of the dimensions (length l, width w, and height h) of each present, and only want to order exactly as much as they need.

Fortunately, every present is a box (a perfect rectangular prism), which makes calculating the required wrapping paper for each gift a little easier: find the surface area of the box, which is 2lw + 2wh + 2hl. The elves also need a little extra paper for each present: the area of the smallest side. This allows for some paper to overlap.

For example:

A present with dimensions 2x3x4 requires (2 x 6) + (2 x 12) + (2 x 8) = 52 square feet of wrapping paper plus 6 square feet of slack, for a total of 58 square feet. A present with dimensions 1x1x10 requires (2 x 1) + (2 x 10) + (2 x 10) = 42 square feet of wrapping paper plus 1 square foot of slack, for a total of 43 square feet. All numbers in the elves' list are in feet. How many total square feet of wrapping paper should they order?

###### This would be a very time consuming task to complete by hand or even with a calculator, but using python we can find the solution with a few short lines of code.

In [ ]:
#import data
url = 'https://raw.githubusercontent.com/jybreman/geochristmas/main/geochristmas%20data%20-%20Sheet1%20(3).csv'
data = pd.read_csv(url)

#prints the first 5 lines of data (or whatever humber of lines you put in parenthesis, 5 is the default)
data.head()

In [ ]:
#@markdown Notice that the data we are given is in the format LxWxH. What are we supposed to do with that? What do you think we need to do?
Thoughts = " get rid of the x's" #@param {type: 'string'}
#@markdown Once you have mulled it over check out the code below to see how to address our problem.

In [ ]:
#import the data again, but this time split it every time there is a 'x', make a header on the first row, and name the columns L, W, and H
data = pd.read_csv(url, delimiter='x', header=0, names=['L','W','H']) #make the data pretty
data.head()

    L   W   H
0  29  13  26
1  11  11  14
2  27   2   5
3   6  10  13
4  15  19  10

See what happens if you just type in data instead of data.head()

So we have 1000 boxes to wrap, and we have the length, width, and height of each box in feet.

Just for funnzies lets make a column for the volume of each box.

In [ ]:
#make a column for the volume of a box

What do you think you should do next? Remember we need to know the surface area of each box to get the total amount of wrapping paper needed. You can refer back to any part of this colab.

In [ ]:
#make columns for the areas of 3 different faces then multiply each face area by 2 (because there's 2 of each face in a rectangluar prism).
#so you should create 3 columns here.

Here is a freebie. You need to add in the area of the smallest side which means you need to make a variable for the smallest side. You will have to change the header names to match whatever you named them.

In [ ]:
#makes a column for the side with the minimum surface area
data['minside'] = data[['side 1', 'side 2', 'side 3']].min(axis=1)
data.head()

Now make a column for the total surface area of a box including the area of the smallest side.

In [ ]:
#make a column for the total surface area of a box including the area of the smallest side


#show the first five rows of data
data.head()

Now we just need to add up the final column right? Run the code below with your heading in place of totSA (total surface area).

In [ ]:
#calculates and displays the sum of the total surface areas (with the min side added in) of all the boxes
print ("The elves need", data['totSA'].sum(), "square feet of wrapping paper")

In [ ]:
#@markdown Please record the total square footage of all the boxes below.
Total_Surface_Area = ' 29786 square ft.' #@param {type: 'string'}
#@markdown Once you have completed all tasks please run the code below to send your answers to me.

In [ ]:
#this box of code sends your answers from the embedded questions to a spreadsheet that only I have access to.
from google.colab import drive
drive.mount('/content/drive')

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

def next_available_row(worksheet):
    str_list = list(filter(None, worksheet.col_values(1)))
    return str(len(str_list)+1)

try:
  student_responses = gc.open('Wrapping Paper Responses').sheet1
except:
  print('Creating file')
  student_responses = gc.create('Wrapping Paper Responses').sheet1

first_row = next_available_row(student_responses)
range = f'A{first_row}:E{first_row}'
cell_list = student_responses.range(range)
responses = [Name, Response_1, Response_2, Thoughts, Total_Surface_Area]
for cell,value in zip(cell_list, responses):
  cell.value = value

student_responses.update_cells(cell_list)
# Go to https://sheets.google.com to see your new spreadsheet.

# Credits

This notebook was designed by [Quarknet](https://quarknet.org/) Coding Fellow Joy Breman with the help of Quarknet Teaching and Learning Fellow Adam Lamee. Thanks to the great folks at [Binder](https://mybinder.org/) and [Google Colaboratory](https://colab.research.google.com/notebooks/intro.ipynb) for making this notebook interactive without you needing to download it or install [Jupyter](https://jupyter.org/) on your own device. Find more activities at Adam's site, [CODINGinK12.org](https://adamlamee.github.io/CODINGinK12/teachers).